@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    padding-left:20px;
    padding-right:20px;
    font-family: Poppins, sans-serif;
}

#header{
    height: 100px;
    margin-top:10px;
}

.searchbar__button{
    border-radius:50%;
    width:40px;
    height: 40px;
    cursor:pointer;
    margin-top:13px;
    margin-left:-50px;
    background-color:#FFE4EA;
    border-style:none;
}

.searchbar__input {
    border-style:none;
    font-size:15px;
    border-radius:30px;
    width:100%;
    height: 45px;
    margin-top:10px;
    background-color: #F8F9FA;
    padding-left:20px;
}

.searchbar{
    margin-bottom:40px;
    display:flex;
    flex-direction:row;
    justify-content:center;
}

.filters {
    overflow-x:scroll;
    -ms-overflow-style:none;
    scrollbar-width:none;
    display:flex;
    align-items:center;
    margin-bottom:20px;
}

.filters::-webkit-scrollbar{
    display:none;
}

.filters__button {
    margin-top:15px;
    margin-bottom:30px;
    margin-right:30px;
    justify-content:center;
    display:flex;
    border-radius: 30px;
    height:35px;
    width:fit-content;
    padding:8.5px 10px;
    border:none;
    font-size: 14px;
    font-family: Inter, sans-serif;
    cursor:pointer;
    color:black;

}

.filters__button img {
    padding-right:10px;;
}

.filters__button:hover{
    border:2px solid black;
}

.filters__button--todos{
    background-color:#EEF6FF
}

.filters__button--panificadora{
    background-color:#FFF7F4
}

.filters__button--frutas{
    background-color:#FFE4EA
}

.filters__button--bebidas{
    background-color: #F3EEF5;
}

.fullBox--home{
    height: 375px
}

.showcase {
    display: flex;
    height: 100%;
    overflow-x:scroll;
    -ms-overflow-style:none;
    scrollbar-width:none;
}

.showcase::-webkit-scrollbar{
    display:none;
}

.li {
    margin-right:20px;
    font-style:Poppins;
}

.li__image{
    width: 300px;
    position: relative;
    border:4px solid #FFE4EA;
    border-radius:15px;
    background-color:#FFE4EA;
}

.li__category{
    display: flex;
    flex-direction: row-reverse;
    margin-bottom:20px;
    margin-top:-15px;
    margin-left:12px;
    background-color:#FFE4EA;
    position:relative;
    width:fit-content;
    height: 25px;
    padding: 7px 20px;
    border-radius:30px;
    font-size:11px;
    color:#212529;
}

.li__name{
    font-weight: bolder;
    margin-top:15px;
    margin-bottom:20px;
    font-size:16px;
}

.li__description{
    margin-bottom:20px;
    color:#868E96;
    font-size:12px;
}

.li__price{
    font-weight: bolder;
    font-size: 12px
}

.li__button{
    float:right;
    height:30px;
    width:30px;
    border-radius:50%;
    margin-top:-25px;
    border-style:none;
    background-color:#E4F7EF;
    cursor:pointer;
}


/*carrinho*/
.shopKart{
    height:340px;
    width:100%;
    margin-top: 25px;
    margin-bottom: -15px;
    padding: 20px 0;
    overflow-y: auto;
    font-style:Poppins;
}
.shopKart--noItems {
    background-color:#E9ECEF;
}
.shopKart__icon {
    font-size: 13px;
}
.shopKart__cartTitle {
    font-size: 17.25px;
}
.shopKart::-webkit-scrollbar {
    display: none;
}

.shopKart__txt{
    height:55px;
    width:100%;
    background-color:#FF2253;
    border-radius: 12px 15px 0px 0px;
    padding:20px 20px;
    color:white;
    font-weight:bolder;
}

.shopKart__icon{
    margin-right:15px;
}

.shopKart__info{
    margin-top: -15px;
    padding: 80px 40px;
    text-align:center;
    color:#868E96;
    background-color:#E9ECEF;
/*  CONFLITO  */
/*     padding-bottom:100px;
    margin-top:-20px; */
/*  CONFLITO  */
}

.shopKart__info h1{
    margin-top:20px;
    margin-bottom:20px;
    font-size:22px;
    font-weight:bolder;
}


.fullBox--shopKart{
    display:flex;
    flex-direction: column;
    align-items:center;
}

.fullBox--shopKart__itemAmount,
.fullBox--shopKart__priceTotal {
    height: 62.5px;
    width: 100%;
    padding: 22px 18px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fullBox--shopKart__itemAmount {
    background: #F8F9FA;
}

.cart__item {
    height: 80px;
    display: flex;
    margin-bottom: 45px;
}

.cart__image {
    height: 75px;
    width: 75px;
    border-radius: 8.62px;
}

.cart__middleCol {
    padding: 0 10px;
    flex: 1;
}

.cart__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 3px;
}

.cart__category {
    font-size: 10px;
    color: #868E96;
}

.cart__price {
    font-size: 12px;
    margin-top: 8px;
}

.cart__remove {
    color: #868E96;
    background: #F8F9FA;
    border-radius: 4.31px;
    width: 27px;
    height: 27px;
    padding: 8px;
    font-size: 10.78px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hidden {
    display: none;
}


@media screen and (min-width: 900px) {

    body {
        margin-left:100px;
        margin-right:100px;
    }

    .header{
        background: #FFF;
        padding-top:10px;
        display:flex;
        justify-content:space-between;
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .searchbar__input{
        width:300px;
    }

    .fullBox--home{
        display:flex;
        justify-content:space-between;
        height:900px;
    }

    .li{
        width: 300px;
    }

    .li__image{
        width: 100%;
    }

    .filters {
        width: 62%;
        flex-wrap: wrap;
    }
    .filters__button {
        width: fit-content;
        padding: 20px 15px;
        align-items: center;
    }

    .showcase{
        width: 68%;
        display:flex;
        flex-wrap:wrap;
        overflow:unset;
    }

    .fullBox--shopKart{
        width: 320px;
        position: fixed;
        right: 100px;
        top: 120px;
    }

    .shopKart{
        width:320px;
    }
}

@media screen and (min-width: 1500px) {
    .showcase {
        width: 80%;
    }
}

@media screen and (min-width: 1620px) {
    .showcase {
        width: 79%;
    }
    .fullBox--shopKart, .shopKart {
        width: 360px;
    }
}